*
!docker-compose.yml
!README.md
!.gitignore
!/src
!/src/wp-content
!/src/wp-content/themes
!/src/wp-content/themes/mytheme
!/src/wp-content/themes/mytheme/*

!/src/wp-content/themes/myblog-handson
!/src/wp-content/themes/myblog-handson/*
!/src/wp-content/themes/myblog-handson/includes/*


!/src/wp-content/themes/wp-customize-handson
!/src/wp-content/themes/wp-customize-handson/*
!/src/wp-content/themes/wp-customize-handson/template-parts/content-item.php
